-
	var
	phone= '303 444 5131',
	logo= 'Boulder Prolotherapy',
	menu = [
		{
			url: "about",
			title: "About Us"
		},
		{
			url: "symptoms",
			title: "Symptoms"
		},
		{
			url: "diagnosis",
			title: "Diagnosis"
		},
		{
			url: "treatments",
			title: "Treatments"
		},
		{
			url: "faq",
			title: "FAQ"
		},
		{
			url: "contacts",
			title: "Contacts"
		}
	]









